n8/2025/03/1JUN8qNvFnU71RPf.json
{
  "active": false,
  "connections": {
    "GET Many - User Gmail Messages - Extended Supplemental Data": {
      "main": [
        [
          {
            "node": "FUNC - AGGREGATE - TRIAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DISPLAY_CONVERT - Markdown to HTML": {
      "main": [
        [
          {
            "node": "GET MANY - LATEST EMAILS - from Gmail - FOR DAILY SUMMARY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUNC - AGGREGATE - TRIAGE": {
      "main": [
        [
          {
            "node": "GET EMAILS - REWIND - 96 HOURS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET EMAILS - REWIND - 96 HOURS": {
      "main": [
        [
          {
            "node": "FUNC - AGGREGATE - REWIND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUNC - AGGREGATE - REWIND": {
      "main": [
        [
          {
            "node": "POST - MICRO_AGENT - INPUT COMPREHENSION ASSISTANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPREHEND + EXTRACT - DETECTED ENTITIES": {
      "main": [
        [
          {
            "node": "AGGREGATE ENTITIES SEMANTIC VALUES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE ENTITIES SEMANTIC VALUES": {
      "main": [
        [
          {
            "node": "PUSH TO VECTOR DATA LAKE - EMAIL DATA SPACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMAIL DRAFT - CREATE REVIEW DRAFT": {
      "main": [
        [
          {
            "node": "PLATFORM_CRUD - MAKE NEW USER - AI INBOX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "PUSH TO VECTOR DATA LAKE - EMAIL DATA SPACE",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "VECTOR_EMBED TRIAGE REPORT DATA": {
      "ai_embedding": [
        [
          {
            "node": "PUSH TO VECTOR DATA LAKE - EMAIL DATA SPACE",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "GET MANY - LATEST EMAILS - from Gmail - FOR DAILY SUMMARY": {
      "main": [
        [
          {
            "node": "AGGREGATE TO SINGLE - DAILY SUMMARY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE TO SINGLE - DAILY SUMMARY": {
      "main": [
        [
          {
            "node": "M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "GMAIL DRAFT - CREATE REVIEW DRAFT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PLATFORM_CRUD - MAKE NEW USER - AI INBOX": {
      "main": [
        [
          {
            "node": "POST CRUD - Core Response - Bubble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST CRUD - Core Response - Bubble": {
      "main": [
        [
          {
            "node": "CRUD on Feed - LOADING ACTION STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST WEBHOOK - Request From Frontend": {
      "main": [
        [
          {
            "node": "GET Many - User Gmail Messages - Extended Supplemental Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST - MICRO_AGENT - INPUT COMPREHENSION ASSISTANT": {
      "main": [
        [
          {
            "node": "POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT": {
      "main": [
        [
          {
            "node": "POST to EMAIL WRITING ASSISTANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to EMAIL WRITING ASSISTANT": {
      "main": [
        [
          {
            "node": "COMPREHEND + EXTRACT - DETECTED ENTITIES",
            "type": "main",
            "index": 0
          },
          {
            "node": "DISPLAY_CONVERT - Markdown to HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "PUSH TO VECTOR - RAW RESPONSE - EMAIL DATA SPACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VECTOR_EMBED TRIAGE REPORT DATA1": {
      "ai_embedding": [
        [
          {
            "node": "PUSH TO VECTOR - RAW RESPONSE - EMAIL DATA SPACE",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "LOAD CONTEXT RESPONSE FOR MEMORY - 2": {
      "ai_document": [
        [
          {
            "node": "PUSH TO VECTOR - RAW RESPONSE - EMAIL DATA SPACE",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "LOAD CONTEXT RESPONSE FOR MEMORY - 2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-19T16:32:19.212Z",
  "id": "1JUN8qNvFnU71RPf",
  "isArchived": false,
  "meta": null,
  "name": "Personal Email Triage",
  "nodes": [
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('POST to EMAIL WRITING ASSISTANT').item.json.output }}",
        "destinationKey": "converted_html_text",
        "options": {
          "simplifiedAutoLink": true,
          "emoji": true,
          "simpleLineBreaks": true
        }
      },
      "id": "8c0bce6e-8889-4f89-8d5a-ceb14a5783cf",
      "name": "DISPLAY_CONVERT - Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "BUBBLE TYPE NAME",
        "properties": {
          "property": [
            {
              "key": "body_text",
              "value": "=Hi {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }},\n\nHere's your daily coverage of email response drafts, inbox triage and general communications maintenance and updates.\n\n---\n\nToday's Batch of Email Responses \n{{ $('POST to EMAIL WRITING ASSISTANT').item.json[\"output\"] }}\n\n---\n\nInbox Daily Digest\n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"] }}\n\n---\n\n3 Day Inbox Review & Summary\n{{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json[\"output\"] }}"
            },
            {
              "key": "type",
              "value": "text-report"
            },
            {
              "key": "parent_entity",
              "value": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.feed_unique_id }}"
            },
            {
              "key": "parent_unique_id",
              "value": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.feed_unique_id }}"
            },
            {
              "key": "body_text",
              "value": "convert from markdown node"
            },
            {
              "key": "body_text_plain",
              "value": "=Hi {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }},\n\nHere's your daily coverage of email response drafts, inbox triage and general communications maintenance and updates.\n\n---\n\nToday's Batch of Email Responses \n{{ $('POST to EMAIL WRITING ASSISTANT').item.json[\"output\"].removeMarkdown() }}\n\n---\n\nInbox Daily Digest\n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"].removeMarkdown() }}\n\n---\n\n3 Day Inbox Review & Summary\n{{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json[\"output\"].removeMarkdown() }}"
            },
            {
              "key": "is_message_file_uploader",
              "value": "false"
            },
            {
              "key": "is_sent_by_user",
              "value": "false"
            },
            {
              "key": "user",
              "value": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.user_unique_id }}"
            },
            {
              "key": "supplied_by_concierge",
              "value": "true"
            },
            {
              "key": "aggregated_output_text",
              "value": "=Hi {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }},\n\nHere's your daily coverage of email response drafts, inbox triage and general communications maintenance and updates.\n\n---\n\nToday's Batch of Email Responses \n{{ $('POST to EMAIL WRITING ASSISTANT').item.json[\"output\"] }}\n\n---\n\nInbox Daily Digest\n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"] }}\n\n---\n\n3 Day Inbox Review & Summary\n{{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json[\"output\"] }}"
            }
          ]
        }
      },
      "id": "3bdc0314-ddd5-4320-b163-08144dafcf63",
      "name": "POST CRUD - Core Response - Bubble",
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        2540,
        380
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeSpamTrash": false,
          "labelIds": [],
          "q": "",
          "readStatus": "both",
          "receivedAfter": "={{ $json.body.received_after_triage.toDateTime() }}",
          "receivedBefore": "={{ $json.body.received_before_triage.toDateTime() }}",
          "sender": ""
        }
      },
      "id": "af0bfced-9d02-47a9-8d9f-77458db6c969",
      "name": "GET Many - User Gmail Messages - Extended Supplemental Data",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        120
      ],
      "webhookId": "b2304e06-b6fd-4dab-bd0f-73979f789fa5"
    },
    {
      "parameters": {
        "sendTo": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.user_email_address }}",
        "subject": "=AI Inbox Concierge Service - {{ $now.format('yyyy-MM-dd') }} Drafts & Summary Delivery",
        "message": "={{ $('Markdown').item.json[\"data\"][\"html\"][\"text\"] }}",
        "options": {
          "senderName": "Add your sender name here",
          "replyTo": "admin@admin.com"
        }
      },
      "id": "41eebd86-f61d-44cb-b87d-482c34d62308",
      "name": "GMAIL DRAFT - CREATE REVIEW DRAFT",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2140,
        380
      ],
      "webhookId": "33a6624c-d7fa-438d-b114-bbcb5afb2823"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "aggregate_inbox_triage",
        "options": {}
      },
      "id": "e2567bf4-326a-49f8-a93e-d316b159bcc2",
      "name": "FUNC - AGGREGATE - TRIAGE",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        160,
        120
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ true }}",
        "simple": "={{ true }}",
        "filters": {
          "includeSpamTrash": false,
          "labelIds": [],
          "readStatus": "both",
          "receivedAfter": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.received_before_rewind.toDateTime() }}",
          "receivedBefore": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.received_after_triage.toDateTime() }}",
          "sender": ""
        },
        "options": {}
      },
      "id": "4862e14a-733b-4e39-a18b-0ba0a6252136",
      "name": "GET EMAILS - REWIND - 96 HOURS",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        380
      ],
      "webhookId": "d2bc4c16-9588-40bb-b2aa-a70dc84397fa"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "aggregate_inbox_rewind",
        "options": {}
      },
      "id": "ab569a0d-d876-48ab-bd08-9e1df728770e",
      "name": "FUNC - AGGREGATE - REWIND",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        220,
        380
      ]
    },
    {
      "parameters": {
        "operation": "detectEntities",
        "text": "={{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"] }}\n\n{{ $json[\"output\"] }}",
        "additionalFields": {}
      },
      "id": "6a4390dd-1891-4a20-a27a-7162e7f4c82d",
      "name": "COMPREHEND + EXTRACT - DETECTED ENTITIES",
      "type": "n8n-nodes-base.awsComprehend",
      "typeVersion": 1,
      "position": [
        1160,
        600
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "detected_extracted_entities",
        "options": {}
      },
      "id": "69f1f067-8eef-4cef-93e8-a8cbe4580a86",
      "name": "AGGREGATE ENTITIES SEMANTIC VALUES",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1380,
        600
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "typeName": "AI INBOX NAME",
        "properties": {
          "property": [
            {
              "key": "triage_text",
              "value": "={{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json.output }}"
            },
            {
              "key": "summarizer_text",
              "value": "={{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json.output }}"
            },
            {
              "key": "text_ai_email_response_writer_text",
              "value": "={{ $('POST to EMAIL WRITING ASSISTANT').item.json.output }}"
            },
            {
              "key": "parent_entity",
              "value": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.feed_unique_id }}"
            },
            {
              "key": "user_that_owns_triage_item",
              "value": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.user_unique_id }}"
            },
            {
              "key": "text_inbox_context_daily_summary",
              "value": "=Daily Triage:\n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"] }}\n\n--\n\nDaily Drafts: \n{{ $('POST to EMAIL WRITING ASSISTANT').item.json[\"output\"] }}\n\n-- \n\nInbox Summary & Detail Oriented Maintenance\n{{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json[\"output\"] }}\n\n---\n\nTommorow's update will arrive by noon, etc.\n\nTeam @ MANTRA AI Inbox - the new way to inbox, outbox, boombox, whatever box - we got you.\n"
            },
            {
              "key": "is_approved",
              "value": "false"
            },
            {
              "key": "retrieved_emails_for_the_day",
              "value": "={{ $('AGGREGATE TO SINGLE - DAILY SUMMARY').item.json.aggregated_emails_for_summary[0].toJsonString() }}"
            }
          ]
        }
      },
      "id": "04472558-14e5-4b77-8c39-eea99f36506e",
      "name": "PLATFORM_CRUD - MAKE NEW USER - AI INBOX",
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        2340,
        380
      ]
    },
    {
      "parameters": {
        "content": "## FETCH SOME MAIL\n",
        "height": 87.36424646241362
      },
      "id": "f3828cc6-5b28-40fe-a3b7-7d057fc25784",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Fetch More\n",
        "height": 80
      },
      "id": "1345f6b3-d948-4cc1-82c4-d86f079ef5fe",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        580
      ]
    },
    {
      "parameters": {
        "content": "## AGGREGATE into 1\n",
        "height": 80
      },
      "id": "0163cbe8-433b-42c2-86c7-cc8162e3711f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        580
      ]
    },
    {
      "parameters": {
        "content": "MANTRA INPUT COMPREHENSION ASSISTANT",
        "height": 87.36424646241362
      },
      "id": "13b6ef15-bd6b-4355-8b56-795f77355eb5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "content": "### Additional Comprehension",
        "height": 87.36424646241362
      },
      "id": "24ed9f30-e97f-4f35-b595-d934b58f376d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        580
      ]
    },
    {
      "parameters": {
        "content": "### MANTRA AI EMAIL CONCIERGE - REASONING, DRAFTS, PLAN OF ACTION",
        "height": 87.36424646241362
      },
      "id": "886cbdf8-6c52-4e44-b81f-fcfc2e58cd11",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76dc629c-f1b7-437d-bc64-60fa7211cd6f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1800,
        840
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "172389f5-de42-4891-98dd-95b409e3dff7",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1740,
        940
      ]
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "id": "9b79b2a5-ea63-499d-a20a-8c26e643f489",
      "name": "VECTOR_EMBED TRIAGE REPORT DATA",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        880
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "id": "b11bd53d-5402-42d9-b4cb-48334998a6c5",
      "name": "GET MANY - LATEST EMAILS - from Gmail - FOR DAILY SUMMARY",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        380
      ],
      "webhookId": "cfaa075a-654c-4dbd-b93e-a0bd5e5dbd6e"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "aggregated_emails_for_summary",
        "options": {}
      },
      "id": "70b55d0b-0f12-44ab-aeda-41a7e2cdd374",
      "name": "AGGREGATE TO SINGLE - DAILY SUMMARY",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1480,
        380
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=## Hey there {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }},\n\n### Here's the {{ $now.format('yyyy-MM-dd') }} AI Inbox Triage installment.\n\nLet's start with a review from our AI Email Triage Concierge:\n\n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"] }}\n\n--\n\nAnd here's AI Inbox Email Assistant's additional drafts \n\n{{ $('POST to EMAIL WRITING ASSISTANT').item.json[\"output\"] }}\n\n--\n\nFinally, let's round it out with a summary of the last 50 emails:\n{{ $('M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY').item.json[\"output\"] }}",
        "destinationKey": "data.html.text",
        "options": {}
      },
      "id": "e5f95c89-29d8-48be-b3a9-0f429aa6247f",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1960,
        380
      ]
    },
    {
      "parameters": {
        "content": "### Summarize over last 3 days",
        "height": 87.36424646241362
      },
      "id": "4b3efe7f-a534-46b6-9d9b-91bfc3bd4a07",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        320
      ]
    },
    {
      "parameters": {
        "content": "### Retrieve Latest 50 for Summary",
        "height": 87.36424646241362
      },
      "id": "a6f6a273-9e26-4491-8e8d-680f8a0b837b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        280
      ]
    },
    {
      "parameters": {
        "content": "### log results in db",
        "height": 87.36424646241362
      },
      "id": "8ab364c4-3b8a-4ef5-8c7d-b26bf0ca4414",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2360,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "typeName": "BUBBLE TYPE NAME",
        "objectId": "={{ $('POST WEBHOOK - Request From Frontend').item.json.body.feed_unique_id }}",
        "properties": {
          "property": [
            {
              "key": "is_loading_core_action_inbox",
              "value": "false"
            }
          ]
        }
      },
      "id": "bd68529f-80bd-46ed-8020-8729c45317f7",
      "name": "CRUD on Feed - LOADING ACTION STOP",
      "type": "n8n-nodes-base.bubble",
      "typeVersion": 1,
      "position": [
        2720,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-my-email-done",
        "options": {}
      },
      "id": "547e906f-4663-4998-a3a7-57410b242c7d",
      "name": "POST WEBHOOK - Request From Frontend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        280
      ],
      "webhookId": "f486de21-5411-47d7-ab00-a7f6e85a2009"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "assistant_id",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Engage task at hand in accordance to your prompt and systemic conditioning. Given the large body of email data which primarily consists of unstructured text, your task is to parse through received data and make semantic and logical sense of it. The core objective of this task  is to create a holistically intelligent overview of the core intent of each email message, the most likely draft response suggestion, although do not make assumptions on cliche or traditional GPT completion errors. Ensure to attempt to understand and reason for the different emails that you are reviewing and then respond with a succinct, actionable plan for best course of action on handling all emails that are part of this review task.\n\nUnstructured email text data:\n{{ $('FUNC - AGGREGATE - TRIAGE').item.json[\"aggregate_inbox_triage\"].toJsonString() }}",
        "options": {}
      },
      "id": "bb8e3c88-cdb5-4d4c-a6c7-0be400b23ef0",
      "name": "POST - MICRO_AGENT - INPUT COMPREHENSION ASSISTANT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        420,
        120
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "assistant_id",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Engage task at hand in accordance to your prompt and systemic conditioning. You are currently handling a daily email triage assignment for user: {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }}\n\nGiven the large body of email data which primarily consists of unstructured text, your task is to create an email triage report and draft responses for the user that you are working with. The core objective of this task  is to highlight the most important parts while keeping all context for reference. If you do not have enough data in the unstructured text, add comments into the first draft responses that you generate as part of the triage report phase. \n\nSecond, please write a simple, natural and organic sounding draft response for each email that can be classified as needing a reponse. Do this process for each individual email item provided in user's unstructured text. Include any notes, observations or other feedback at the bottom of the report. Structure your responses for this task as follows: \n\n1) Bullet list items for each email with brief summary, draft response and initial sender details\n2) Add intelligent comments into emails where you do not have enough context, knowledge or understanding of how a response should be phrased. Ask to be directed and instructed inside the comments where the initial email response drafts go\n3) Draft responses by themselves as paragpraph text blocks\n\nEmail information for CURRENT TRIAGE ASSIGNMENT:\n{{ $('FUNC - AGGREGATE - TRIAGE').item.json[\"aggregate_inbox_triage\"].toJsonString() }}\n\nEmail information for PREVIOUS TWO DAYS - known as REWIND:\n{{ $('FUNC - AGGREGATE - REWIND').item.json[\"aggregate_inbox_rewind\"].toJsonString() }}\n",
        "options": {}
      },
      "id": "dd36c1ac-bb59-44a6-aa75-2f9c86273d20",
      "name": "POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_YWHg6bE779Zyyr1kFY3ShNDR",
          "mode": "list",
          "cachedResultName": "MANTRA_MICRO-EMAIL RESPONSE WRITING ASSISTANT"
        },
        "prompt": "define",
        "text": "=Hello AI Email Concierge, here is another exciting task for you to provide your expert guidance and generative abilities for. Please review the email triage data below and then either write new ones or expand on the drafts provided for all of the different emails contained in the payload. Utilize your tools if and when appropriate to enrich your context with real time data from the internet.\n\nThe user that you are currently working with is: {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }}\n\n\nLatest Email List For Responses:\nDATA FROM ASSISTANT 1: \n{{ $('POST Request to MICRO_AGENT - EMAIL TRIAGE ASSISTANT').item.json[\"output\"].removeMarkdown().replaceSpecialChars().replaceAll() }}\nDATA FROM ASSISTANT 2: \n{{ $('POST - MICRO_AGENT - INPUT COMPREHENSION ASSISTANT').item.json[\"output\"].removeMarkdown().replaceSpecialChars() }}",
        "options": {}
      },
      "id": "6598c855-9274-4a82-b556-139e1d74c9ec",
      "name": "POST to EMAIL WRITING ASSISTANT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        740,
        380
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "1",
          "mode": "id"
        },
        "options": {
          "pineconeNamespace": "={{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"].toLowerCase().replaceAll(' ','-') }}-{{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_unique_id\"] }}-email-data"
        }
      },
      "id": "a5c334c8-4c29-469c-80f6-6ebbefa8af3e",
      "name": "PUSH TO VECTOR DATA LAKE - EMAIL DATA SPACE",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1600,
        680
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "id": "17cabba3-f015-4b9f-867b-6aa10cac6d11",
      "name": "VECTOR_EMBED TRIAGE REPORT DATA1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1060,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "619f84e0-0b11-4669-b3d4-2bf28cb13d10",
      "name": "LOAD CONTEXT RESPONSE FOR MEMORY - 2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1240,
        1060
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "5ff9a78e-88dc-47c2-a7ff-59832712880b",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        1160
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "1",
          "mode": "id"
        },
        "options": {
          "pineconeNamespace": "={{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"].toLowerCase().replaceAll(' ','-') }}-{{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_unique_id\"] }}-email-data"
        }
      },
      "id": "e1271ed8-ad80-4ed1-89cc-b84bf2416d24",
      "name": "PUSH TO VECTOR - RAW RESPONSE - EMAIL DATA SPACE",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1080,
        840
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "assistant_id",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Review the emails below from the current user: {{ $('POST WEBHOOK - Request From Frontend').item.json[\"body\"][\"user_full_name\"] }}, and prepare a daily email summary of the emails. Note that this summary is performed daily for the user so refrain from providing overly basic commentary and analysis. Ensure to look for any patterns and identify overall condition of the email lifecycle.\nLAST 50 AGGREGATED EMAILS FOR REVIEW:\n{{ $('AGGREGATE TO SINGLE - DAILY SUMMARY').item.json[\"aggregated_emails_for_summary\"].toJsonString().removeMarkdown() }}",
        "options": {}
      },
      "id": "089d0f7b-211a-4119-81e0-cbafc9e4fb0a",
      "name": "M_AGENT - SUMMARIZE LAST 50 - DAILY SUMMARY",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1640,
        380
      ]
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T20:26:40.102Z",
      "updatedAt": "2025-03-19T20:26:40.102Z",
      "id": "od53q6RQk4ORtBWI",
      "name": "personal"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-08T17:23:16.000Z",
  "versionId": "a8089009-627a-4dca-b389-3ac08b3d1a1b"
}