n8/2025/03/vBzczFpdVdvjb8fX.json
{
  "active": false,
  "connections": {
    "Get Ranking Keywords by URL": {
      "main": [
        [
          {
            "node": "insert_keywords_ranking_by_tracked_keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domains": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "get_date_of_last_run",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_keywords_to_track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get_date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "today_minus_28_d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "get_date_of_last_run_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "get_date_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "today_minus_28_d_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Keyword Opportunities": {
      "main": [
        [
          {
            "node": "insert_top_keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_date_of_last_run": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_keywords_to_track": {
      "main": [
        [
          {
            "node": "concat_keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_query_params": {
      "main": [
        [
          {
            "node": "Get Ranking Keywords by URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concat_keywords": {
      "main": [
        [
          {
            "node": "merge_query_params",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get_date": {
      "main": [
        [
          {
            "node": "merge_query_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_date_of_last_run_1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_query_params_1": {
      "main": [
        [
          {
            "node": "Get Keyword Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_date_1": {
      "main": [
        [
          {
            "node": "merge_query_params_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_keywords_ranking_by_tracked_keywords": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_top_keywords": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "today_minus_28_d": {
      "main": [
        [
          {
            "node": "merge_query_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "today_minus_28_d_1": {
      "main": [
        [
          {
            "node": "merge_query_params_1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-19T17:08:29.895Z",
  "id": "vBzczFpdVdvjb8fX",
  "isArchived": false,
  "meta": null,
  "name": "Rank Tracker (postgres)",
  "nodes": [
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "automations-451008",
          "mode": "list",
          "cachedResultName": "automations",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=automations-451008"
        },
        "sqlQuery": "WITH daily_metrics AS (\n  SELECT \n    data_date as date,\n    query as keyword,\n    url,\n    device,\n    SUM(clicks) as clicks,\n    SUM(impressions) as impressions,\n    ROUND(AVG(sum_position / impressions), 1) as position,\n    ROUND(SUM(clicks) / SUM(impressions) * 100, 2) as ctr\n  FROM `{{ $('Loop Over Items').all()[0].json.searchdata_url_impression }}`\n  WHERE\n    data_date > '{{ $json.data_date }}'\n    AND NOT is_anonymized_query\n    AND lower(query) IN (\n   {{ $('merge_query_params').all()[1].json.keywordString }}\n    )\n  -- remove following line if you want to exclude toc rankings\n  AND url NOT LIKE '%#%'\n  GROUP BY date, keyword, url, device\n)\n\nSELECT \n  date,\n  keyword,\n  device,\n  url,\n  clicks,\n  impressions,\n  position,\n  ctr\nFROM daily_metrics\nORDER BY date ASC, keyword, position ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        1180,
        1720
      ],
      "id": "e0fac4f4-af60-47bb-895e-416d9a80174d",
      "name": "Get Ranking Keywords by URL",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"domains\": [\n    {\n      \"domain\": \"domain\",\n      \"searchdata_url_impression\": \"searchdata_url_impression\",\n      \"searchdata_site_impression\": \"searchdata_site_impression\"\n    },\n\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        1340
      ],
      "id": "581fbe2b-be19-45be-8729-129e2aac0f41",
      "name": "Domains"
    },
    {
      "parameters": {
        "fieldToSplitOut": "domains",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        780,
        1340
      ],
      "id": "57a58075-a7ca-4c10-8d56-d40d0582f680",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        1760
      ],
      "id": "8c30ea42-6b3e-4398-9853-dba83c734368",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a376642-1bb3-43a3-802f-6844d3b9c2a7",
              "leftValue": "={{ $('get_date_of_last_run').all()[0].json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        1700
      ],
      "id": "878bdf28-9ff5-4264-bd55-3588809eea90",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1740,
        1800
      ],
      "id": "a3ee4c65-15bb-424f-98f2-2a54f02e41f8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32ae47a9-f7f5-41fc-b403-468094ba3f41",
              "leftValue": "={{ $('get_date_of_last_run_1').all()[0].json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        1820
      ],
      "id": "b2c6449f-e453-4946-84b0-3eec3ccf5993",
      "name": "If1"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "automations-451008",
          "mode": "list",
          "cachedResultName": "automations",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=automations-451008"
        },
        "sqlQuery": "WITH filtered_queries AS (\n  SELECT \n    data_date,\n    device,\n    query,\n    url,\n    SUM(clicks) as clicks,\n    SUM(impressions) as impressions,\n    SUM(sum_position) as sum_position,\n    SUM(sum_position)/SUM(impressions) + 1 as avg_position,\n    MAX(CASE \n      WHEN is_tpf_faq THEN 'FAQ'\n      WHEN is_tpf_howto THEN 'HowTo'\n      WHEN is_review_snippet THEN 'Review'\n      ELSE 'Normal'\n    END) as result_type\n  FROM `{{ $('Loop Over Items1').all()[0].json.searchdata_url_impression }}`\n  WHERE SAFE_DIVIDE(sum_position, impressions) <= 50\n  AND is_anonymized_query = False\n  AND impressions >= 5\n  AND data_date > '{{ $json.data_date }}'\n  GROUP BY data_date, device, query, url\n)\n\nSELECT \n  data_date,\n  query,\n  url,\n  device,\n  result_type,\n  impressions as total_impressions,\n  clicks as total_clicks,\n  avg_position,\n  SAFE_DIVIDE(clicks, impressions) * 100 as ctr_percentage,\n  CASE \n    WHEN avg_position <= 3 THEN 'Top 3'\n    WHEN avg_position <= 10 THEN 'Top 10'\n    WHEN avg_position <= 20 THEN 'Top 20'\n    ELSE 'Above 20'\n  END as position_bucket\nFROM filtered_queries\nORDER BY \n  data_date DESC,\n  url",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        2660,
        1820
      ],
      "id": "24a48d3a-4eba-4a11-837f-e8dd28bedba9",
      "name": "Get Keyword Opportunities",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT data_date FROM rank_tracking_by_keywords WHERE domain = '{{ $json.domain }}' ORDER BY data_date DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        1700
      ],
      "id": "871b8cac-98c9-48f6-8abd-64742962510f",
      "name": "get_date_of_last_run",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT keyword from tracked_keywords WHERE domain = '{{ $json.domain }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        1860
      ],
      "id": "2b518649-f462-4170-8c87-9756638bfeca",
      "name": "get_keywords_to_track"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        960,
        1720
      ],
      "id": "e3d70a7b-cc70-4705-9b0e-1b60494d8b04",
      "name": "merge_query_params"
    },
    {
      "parameters": {
        "jsCode": "function getKeywordsString(inputArray) {\n    return inputArray.map(item => `'${item.json.keyword}'`).join(', ');\n}\n\nreturn [{\n    json: {\n        keywordString: getKeywordsString($input.all())\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1940
      ],
      "id": "b9a80439-70f9-4607-b469-4724c0b25c3e",
      "name": "concat_keywords"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  data_date: $input.first().json.data_date.split('T')[0]\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1540
      ],
      "id": "1854313a-6033-4e35-86ca-adfd4694da9f",
      "name": "get_date"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT data_date FROM top_ranking_keywords WHERE domain = '{{ $json.domain }}' ORDER BY data_date DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1960,
        1820
      ],
      "id": "ab16bced-ba4a-4aaa-b6c8-e5b66d471807",
      "name": "get_date_of_last_run_1",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2500,
        1820
      ],
      "id": "cc19c107-1757-46e7-b700-a31462ea2d97",
      "name": "merge_query_params_1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  data_date: $input.first().json.data_date.split('T')[0]\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1740
      ],
      "id": "21af5c66-3768-49c2-8c6d-3ff77904c382",
      "name": "get_date_1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rank_tracking_by_keywords",
          "mode": "list",
          "cachedResultName": "rank_tracking_by_keywords"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_date": "={{ $json.date }}",
            "clicks": "={{ $json.clicks }}",
            "impressions": "={{ $json.impressions }}",
            "position": "={{ $json.position }}",
            "ctr": "={{ $json.ctr }}",
            "url": "={{ $json.url }}",
            "keyword": "={{ $json.keyword }}",
            "device": "={{ $json.device }}",
            "domain": "={{ $('Loop Over Items').item.json.domain }}"
          },
          "matchingColumns": [
            "data_date",
            "url",
            "keyword"
          ],
          "schema": [
            {
              "id": "data_date",
              "displayName": "data_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ctr",
              "displayName": "ctr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        1900
      ],
      "id": "8a3ec95e-2105-4cb6-b40f-5854ff072a56",
      "name": "insert_keywords_ranking_by_tracked_keywords"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "top_ranking_keywords",
          "mode": "list",
          "cachedResultName": "top_ranking_keywords"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_impressions": "={{ $json.total_impressions }}",
            "total_clicks": "={{ $json.total_clicks }}",
            "avg_position": "={{ $json.avg_position }}",
            "ctr_percentage": "={{ $json.ctr_percentage }}",
            "data_date": "={{ $json.data_date }}",
            "query": "={{ $json.query }}",
            "url": "={{ $json.url }}",
            "device": "={{ $json.device }}",
            "result_type": "={{ $json.result_type }}",
            "position_bucket": "={{ $json.position_bucket }}",
            "domain": "={{ $('Loop Over Items1').item.json.domain }}"
          },
          "matchingColumns": [
            "data_date",
            "query",
            "url"
          ],
          "schema": [
            {
              "id": "data_date",
              "displayName": "data_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "result_type",
              "displayName": "result_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "total_impressions",
              "displayName": "total_impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "total_clicks",
              "displayName": "total_clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "avg_position",
              "displayName": "avg_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ctr_percentage",
              "displayName": "ctr_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "position_bucket",
              "displayName": "position_bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        1900
      ],
      "id": "ff2f4535-cf38-4d73-a900-503cc4516eda",
      "name": "insert_top_keywords"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3ce8bf6-cbee-4949-a338-aeb1523b646a",
              "name": "=data_date",
              "value": "={{ $now.minus({ days: 28 }).format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1740
      ],
      "id": "c22d72e0-1c02-4594-be03-b1d4cb978b7e",
      "name": "today_minus_28_d",
      "notes": "In case the pipeline has not been triggered before, then the tracking sheet is empty. If true, we will take as a starting point of today minus 7 days. "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3ce8bf6-cbee-4949-a338-aeb1523b646a",
              "name": "=data_date",
              "value": "={{ $now.minus({ days: 28 }).format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        1900
      ],
      "id": "c671efd0-55fc-4674-b01c-7198281b24a4",
      "name": "today_minus_28_d_1",
      "notes": "In case the pipeline has not been triggered before, then the tracking sheet is empty. If true, we will take as a starting point of today minus 7 days. "
    },
    {
      "parameters": {
        "content": "Add all your domains and BigQuery tables here",
        "height": 220,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1240
      ],
      "id": "cdcd9147-8b77-48cf-8fd1-a85225323866",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Automation Description\nThis automation serves two main purposes:\n1. It monitors keyword rankings for all keywords in your rank tracking table\n2. It displays keywords where you already have favorable Google rankings in a separate table\n\nThe ability clearly shows whether you rank in the top 3, top 10, or top 20 for specific keywords and URLs. Additionally, it displays rankings for both mobile and desktop devices.\n\n### Required Tables\nTo use this automation, you need to create the following tables:\n\n#### 1. Top Ranking Keywords\nThis table is used to identify keyword opportunities. It helps you quickly find keywords where you already rank in the top 3, 10, or 20 positions. This information is particularly valuable for creating content that matches these search queries.\n\n```sql\nCREATE TABLE IF NOT EXISTS public.top_ranking_keywords\n(\n    data_date date NOT NULL,\n    query text COLLATE pg_catalog.\"default\" NOT NULL,\n    url text COLLATE pg_catalog.\"default\" NOT NULL,\n    device text COLLATE pg_catalog.\"default\",\n    result_type text COLLATE pg_catalog.\"default\",\n    total_impressions integer,\n    total_clicks integer,\n    avg_position double precision,\n    ctr_percentage double precision,\n    position_bucket text COLLATE pg_catalog.\"default\",\n    domain text COLLATE pg_catalog.\"default\",\n    CONSTRAINT ranking_primary_key PRIMARY KEY (data_date, query, url)\n)\n```\n\n#### 2. Tracked Keywords\nAdd the keywords you want to monitor rankings for in this table.\n\n```sql\nCREATE TABLE IF NOT EXISTS public.tracked_keywords\n(\n    domain text COLLATE pg_catalog.\"default\" NOT NULL,\n    keyword text COLLATE pg_catalog.\"default\" NOT NULL,\n    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,\n    CONSTRAINT tracked_keywords_primary_key PRIMARY KEY (domain, keyword)\n)\n```\n\n#### 3. Rank Tracking by Keywords\nThis table exclusively tracks the rankings of keywords listed in the tracked_keywords table.\n\n```sql\nCREATE TABLE IF NOT EXISTS public.rank_tracking_by_keywords\n(\n    data_date date NOT NULL,\n    url text COLLATE pg_catalog.\"default\" NOT NULL,\n    device text COLLATE pg_catalog.\"default\",\n    keyword text COLLATE pg_catalog.\"default\" NOT NULL,\n    clicks integer,\n    impressions integer,\n    \"position\" double precision,\n    ctr double precision,\n    domain text COLLATE pg_catalog.\"default\",\n    CONSTRAINT tracked_keyword_primary_key PRIMARY KEY (data_date, url, keyword)\n)\n```",
        "height": 1320,
        "width": 960,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        800
      ],
      "id": "18779e27-8598-4b5b-8dbd-49a8447ecf9d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        1340
      ],
      "id": "35ced911-24f2-45b4-b7e0-430e554451fa",
      "name": "Start"
    },
    {
      "parameters": {
        "content": "Adjust this for the first run if needed",
        "height": 220,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        1680
      ],
      "id": "5ba7d7df-fa4c-493b-ad56-857cef7cd41e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Adjust the query if needed",
        "height": 260,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        1740
      ],
      "id": "340488d9-697f-457d-aca3-9e8fbcee7875",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Get Tracked Keywords Ranking",
        "height": 620,
        "width": 1640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1500
      ],
      "id": "a44967dd-7660-4530-bb4c-e77dd5b21442",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Start here",
        "height": 260,
        "width": 1640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1220
      ],
      "id": "6d7242b0-3f25-4e24-9836-7fd9b690d6a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Get Keyword Opportunities",
        "height": 620,
        "width": 1640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1660,
        1500
      ],
      "id": "a234c722-22fc-4492-9c0a-dcb093ebb2b3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Rank Tracker\n\ntrack unlimited keywords for unlimited websites. You can find a demo [here](https://youtu.be/_m_nY3vMSVk).\n\n## Overview\n\nThis repository provides a free rank tracker that allows you to track unlimited keywords for as many websites as you like. It automates the process of keyword rank tracking, saving you time and effort compared to manual checks or expensive SEO tools.\n\n## Why Use This Template?\n\nMost SEO tools for rank tracking are:\n- Expensive\n- Limited to the amount of websites\n- Restricted in the number of keywords or websites\n\nThis automation solves these problems by providing unlimited tracking capabilities for free.\n\n## Features\n\n- Track unlimited keywords\n- Monitor multiple websites\n- Identify low-hanging fruits for content optimization\n- Automated data collection\n- No gaps in data tracking\n- Flexible date range settings\n\n## Setup Instructions\n\n### Initial Setup\n\n1. Set the date range in edit-nodes (marked with stickers)\n   - Default: Uses data from 7 days ago\n   - Adjustable for more historical data\n\n### Dynamic Updates\n\nAfter initial setup, the system:\n- Automatically sets date ranges\n- Uses the last available date from keyword tracking\n- Ensures continuous data collection without gaps\n- Works even without scheduled runs\n\n## Advanced Usage\n\nWhile this automation works well with Google Sheets, PostgreSQL integration is available for:\n- Better performance with large datasets\n- AI agent integration\n- Advanced data analysis\n\n\n",
        "height": 1320,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        800
      ],
      "id": "5b71a44e-f24f-477e-b63f-e87d4f889840",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T16:43:15.681Z",
      "updatedAt": "2025-03-19T16:43:15.681Z",
      "id": "SBW9cvvLopJuh2K7",
      "name": "SEO"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-08T17:25:57.000Z",
  "versionId": "328d128f-d885-4304-87e9-0889bb290733"
}