n8/2025/05/uw3fYO3UMe2Sa3TC.json
{
  "active": true,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "spit chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chonky McChunkerator": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "move": {
      "main": [
        []
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "spit chunks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-22T20:35:51.657Z",
  "id": "uw3fYO3UMe2Sa3TC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LPT: drive czm rag upsert",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "lpt-rag-2",
          "mode": "list",
          "cachedResultName": "lpt-rag-2"
        },
        "options": {
          "pineconeNamespace": "lpt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        860,
        0
      ],
      "id": "e9f67a42-adc5-49d0-b332-d904fd43ec3c",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "S1fHngaxwjDiOcSR",
          "name": "t@czm.PineconeApi"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $('download').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        500
      ],
      "id": "b84cfd04-ff75-40f7-affd-b1492741453c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        0
      ],
      "id": "3edd2fa1-e30b-4ea2-9dec-f471b4c03646",
      "name": "download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpyRggGv1xon9oys",
          "name": "drive.t@czm"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1800,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        600,
        -120
      ],
      "id": "ed59ac2c-7ccd-4a8a-8208-f5534c2ac6a0",
      "name": "Chonky McChunkerator"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('download').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JeBZie308cqEN34rcJ9mX3oTkcbCjpSk",
          "mode": "list",
          "cachedResultName": "sent-to-pinecone",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JeBZie308cqEN34rcJ9mX3oTkcbCjpSk"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1460,
        300
      ],
      "id": "a3c767cc-0c1d-4866-b8c6-17b522204492",
      "name": "move",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpyRggGv1xon9oys",
          "name": "drive.t@czm"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        180
      ],
      "id": "25d8e1c3-ed4c-4219-99c4-d97a672d0f1d",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "X3Nhu6EWyz9LN2fj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 11,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1eZ6CjLWGWt2Yov6dbZD-RPJ-kzifCS4X",
            "mode": "list",
            "cachedResultName": "RAG-staging-",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1eZ6CjLWGWt2Yov6dbZD-RPJ-kzifCS4X"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        0
      ],
      "id": "2ad5c255-685e-4e8f-8570-fb0a62d4eee4",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpyRggGv1xon9oys",
          "name": "drive.t@czm"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        -180
      ],
      "id": "a524e0f4-4474-4451-bea8-c79aa2870531",
      "name": "Click ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Pinecone Vector Store').item.json.pageContent }}",
        "name": "={{ $('download').item.json.name }}-chunk-{{ $itemIndex }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-jNGLzXD9f4sZ34H9E7XQO_HmkOmWZQs",
          "mode": "list",
          "cachedResultName": "pinecone-chunks",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-jNGLzXD9f4sZ34H9E7XQO_HmkOmWZQs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1240,
        0
      ],
      "id": "f48942e9-6b28-437d-89c5-93f6c58581a4",
      "name": "spit chunks",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpyRggGv1xon9oys",
          "name": "drive.t@czm"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5b0b1ac-0600-4486-b81d-8e389e7da6fb",
              "leftValue": "={{ $json.error }}",
              "rightValue": "Can't get data for expression",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        0
      ],
      "id": "0a2c7a5f-baf5-4d98-b32f-f27ea302b46b",
      "name": "If"
    },
    {
      "parameters": {
        "path": "5cac5e70-3c7b-475e-9eba-cd7ea6c4bae7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "b64d9ba9-f1b2-4f60-aee2-97533e5c25df",
      "name": "Webhook",
      "webhookId": "5cac5e70-3c7b-475e-9eba-cd7ea6c4bae7"
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-06-06T02:22:49Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-06T17:09:36.000Z",
  "versionId": "96b1e51e-a836-4ab1-8a3b-6c812cf1b856"
}