n8/2025/08/9yfhOtGW3ANkn8EJ.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "set contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set contact": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "availability": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "create": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "delete": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-18T13:35:00.821Z",
  "id": "9yfhOtGW3ANkn8EJ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CZM: scheduler",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Function"
            },
            {
              "name": "Email"
            },
            {
              "name": "First_Name"
            },
            {
              "name": "Description"
            },
            {
              "name": "Date"
            },
            {
              "name": "Time"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "780287e7-6e06-4a5b-a7fb-054dc68d9f57",
      "name": "When Executed by Another Workflow",
      "retryOnFail": true
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.Email }}",
        "additionalFields": {
          "city": "={{ $json.City }}",
          "companyName": "={{ $json.Company_Name }}",
          "firstName": "={{ $json.First_Name }}",
          "jobTitle": "={{ $json.Job_Title }}",
          "lastName": "={{ $json.Last_Name }}",
          "message": "={{ $json.Description }}",
          "phoneNumber": "={{ $json.Phone_Number }}",
          "postalCode": "={{ $json.Postal_Code }}",
          "stateRegion": "={{ $json.State_Region }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "89ad0ac5-0ac1-4659-9a8c-ca7cdc540f45",
      "name": "set contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "A3jVCBPswcrKdgIE",
          "name": "hs-czm-n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6f41ab1-3262-48e0-b6b6-233929873a71",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "deleteEvent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deleteEvent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85dabdfc-25be-42f8-9899-979d8613eaf6",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "createEvent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createEvent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "getAvailability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5642627a-6e9a-47fc-8832-9ae0ca638383"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getAvailability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7adfcf7-3c20-4cd2-9606-b0db154ca76e",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "^(createEvent|deleteEvent|getAvailability)$",
                    "operator": {
                      "type": "string",
                      "operation": "notRegex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        -32
      ],
      "id": "1419799b-12f0-42a8-8a87-cf01e8dbbf86",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -32
      ],
      "id": "18d967ee-7ce6-43c4-8a01-2fcca2d427b8",
      "name": "merge"
    },
    {
      "parameters": {
        "jsCode": "// verify that VID exists, and is numeric, great success test for all cases.\nconst numerRegex = /^[0-9]{4,}$/;\nif (numerRegex.test($('set contact').first().json.vid)) {\n  return [{ json: { output: String(\"Success\") } }];\n} else {\n  return [{ json: { output: String(\"Service Unavailable. Please retry.\") } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "d55c7973-4a9e-411d-beb7-6e4ce832e5c6",
      "name": "output"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "t@czm.ai",
          "mode": "list",
          "cachedResultName": "t@czm.ai"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        736,
        16
      ],
      "id": "f707fff5-6055-4fde-aafb-3d2126495906",
      "name": "availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TjfI6pImMD1Cb9xq",
          "name": "czm-n8n-gcal"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        736,
        -336
      ],
      "id": "eb16941d-e796-4e6c-937e-bd5eda31e3d0",
      "name": "delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TjfI6pImMD1Cb9xq",
          "name": "czm-n8n-gcal"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        736,
        -160
      ],
      "id": "479b0ccc-99bf-4176-97f0-e7a6702ef5d2",
      "name": "create"
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-18T13:35:00.834Z",
      "updatedAt": "2025-08-18T13:35:00.834Z",
      "role": "workflow:owner",
      "workflowId": "9yfhOtGW3ANkn8EJ",
      "projectId": "7oc82U5FbxHgMZLy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-18T14:33:49.000Z",
  "versionId": "8d8fc8f3-e01a-4551-9a12-17c5c7de6890"
}