n8/2025/08/bNBJds627vzWOLx8.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "set contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set contact": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "set ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "set ticket": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set deal": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T00:12:30.365Z",
  "id": "bNBJds627vzWOLx8",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CZM: contact manager",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\t\"Function\" : \"string\",\n\t\"Email\" : \"string\",\n\t\"First Name\" : \"string\",\n\t\"Last Name\" : \"string\",\n\t\"Phone Number\" : \"string\",\n\t\"Description\" : \"string\",\n\t\"Message\" : \"string\",\n\t\"Budget\" : \"string\",\n\t\"Job Title\" : \"string\",\n\t\"Company Name\" : \"string\",\n\t\"Website URL\" : \"string\",\n\t\"City\" : \"string\",\n\t\"State/Region\" : \"string\",\n\t\"Postal Code\" : \"string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9e851ed5-bb8b-4e5b-8359-7b4ba8afb761",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.Email }}",
        "additionalFields": {
          "city": "={{ $json.City }}",
          "companyName": "={{ $json['Company Name'] }}",
          "firstName": "={{ $json['First Name'] }}",
          "jobTitle": "={{ $json['Job Title'] }}",
          "lastName": "={{ $json['Last Name'] }}",
          "message": "={{ $json.Description }}",
          "phoneNumber": "={{ $json['Phone Number'] }}",
          "postalCode": "={{ $json['Postal Code'] }}",
          "stateRegion": "={{ $json['State/Region'] }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "c618bc14-4db4-4738-9f77-24f4911b0e81",
      "name": "set contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "A3jVCBPswcrKdgIE",
          "name": "hs-czm-n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "ticket",
        "pipelineId": "1153569502",
        "stageId": "1830165189",
        "ticketName": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "additionalFields": {
          "associatedContactIds": "={{ $json.vid }}",
          "description": "={{ $('When Executed by Another Workflow').item.json.Description }}"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        720,
        -192
      ],
      "id": "c393d0cc-5141-45de-a472-135e6fc14848",
      "name": "set ticket",
      "credentials": {
        "hubspotAppToken": {
          "id": "A3jVCBPswcrKdgIE",
          "name": "hs-czm-n8n"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "createTicket",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5642627a-6e9a-47fc-8832-9ae0ca638383"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createTicket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85dabdfc-25be-42f8-9899-979d8613eaf6",
                    "leftValue": "=1{{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "createDeal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createDeal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7adfcf7-3c20-4cd2-9606-b0db154ca76e",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Function }}",
                    "rightValue": "^(createTicket|createDeal)$",
                    "operator": {
                      "type": "string",
                      "operation": "notRegex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        -16
      ],
      "id": "c692c1a5-fb0e-4f31-9c79-2ee81b79f484",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "stage": "1226436293",
        "additionalFields": {
          "amount": "={{ $('When Executed by Another Workflow').item.json.Budget }}",
          "associatedVids": "={{ $json.vid }}",
          "description": "={{ $('When Executed by Another Workflow').item.json.Description }}",
          "dealName": "={{ $('When Executed by Another Workflow').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "id": "2b5a48b4-a1ef-45d0-8c78-ac93de3aaea4",
      "name": "set deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "A3jVCBPswcrKdgIE",
          "name": "hs-czm-n8n"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -16
      ],
      "id": "bad31c8e-7681-4fac-9084-98fbd36e46df",
      "name": "merge"
    },
    {
      "parameters": {
        "jsCode": "// verify that VID exists, and is numeric, great success test for all cases.\nconst numerRegex = /^[0-9]{4,}$/;\nif (numerRegex.test($input.first().json.vid)) {\n  return [{ json: { output: String(\"Success\") } }];\n} else {\n  return [{ json: { output: String(\"Service Unavailable. Please retry.\") } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "cb8f3fbb-216b-4cb9-a982-926116049e7b",
      "name": "output"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { output: String(\"ok\") } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        176
      ],
      "id": "11ad1012-9676-4e52-a276-0dc9a3b5f2c1",
      "name": "stubbed"
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-15T00:12:30.398Z",
      "updatedAt": "2025-08-15T00:12:30.398Z",
      "role": "workflow:owner",
      "workflowId": "bNBJds627vzWOLx8",
      "projectId": "7oc82U5FbxHgMZLy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T20:15:53.000Z",
  "versionId": "690dd96c-9812-4386-ae3f-a4e3e73e8e66"
}