n8/2025/08/IbyycCYN4zlmL3ID.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateTime": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T20:29:19.204Z",
  "id": "IbyycCYN4zlmL3ID",
  "isArchived": false,
  "meta": null,
  "name": "testing: stubbed sub (dateTime)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8676c0cb-6677-4bc7-8978-e617f34afc32",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "        return [{ json: { output: \"The current date and time is:\\n\" + String($input.first().json.currentDate) + \"\\n\\nwell that's like your opinion, man\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1c2bcb4b-d2f0-4969-90cf-7d1a0ebb13d6",
      "name": "output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "e80542d2-eff4-45cc-9c05-a4d4a0c3933f",
      "name": "DateTime"
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-08T20:29:19.210Z",
      "updatedAt": "2025-08-08T20:29:19.210Z",
      "role": "workflow:owner",
      "workflowId": "IbyycCYN4zlmL3ID",
      "projectId": "7oc82U5FbxHgMZLy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T23:22:13.000Z",
  "versionId": "6ae6b06f-ccfc-404b-b98b-fe353765b265"
}