n8/2025/08/l2YrXRwVcHkSbtut.json
{
  "active": false,
  "connections": {
    "find binaries": {
      "main": [
        [
          {
            "node": "split open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "plaintext",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rtf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "csv",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "markup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "xls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "xlsx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plaintext": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "find binaries",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rtf": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "csv": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markup": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ods": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xls": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xlsx": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "split open": {
      "main": [
        [
          {
            "node": "convert to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to file": {
      "main": [
        [
          {
            "node": "extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "filedata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "filedata": {
      "main": [
        [
          {
            "node": "extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uploads": {
      "main": [
        [
          {
            "node": "format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-23T04:43:43.564Z",
  "id": "l2YrXRwVcHkSbtut",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CZM: file handler 5.1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const files = $input.all().at(0)?.binary;\nconst isFilesSent = typeof files === 'object' && Object.keys(files)?.length;\nif(isFilesSent){\n   return { files }\n}\nreturn $input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        -144
      ],
      "id": "cfa5cf41-ee3a-4326-9beb-1d08b466c0d0",
      "name": "find binaries"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "2db1ea81-6732-4625-921c-13b3a3b2bc5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30c7c3fe-e468-47db-93a2-325210d2256e",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "plain text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76cafa71-c2db-4e14-8d10-de756ab27377",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45a1038c-1525-4c90-97b0-efe5b30989cc",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/json",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc225f42-d378-4a30-a3fe-8f13df36d675",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "^(application|text)\\/rtf$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rtf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50bf48c3-a998-4b15-a230-9509b2d84119",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c68dba3-a9e7-45ac-ab10-d3bdabc693eb",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/xml",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xml"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57e2ada6-62ef-4552-9210-433018a5b52f",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/vnd.oasis.opendocument.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ods"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b777803b-4aac-4e12-81ee-3c283ea26906",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67677bce-a8e8-4586-9b31-ac92fbd66c90",
                    "leftValue": "={{ $('start').item.json.files[$runIndex].mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        160
      ],
      "id": "003b59ab-beb9-4e17-9165-095801bfd845",
      "name": "switch"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "fileBinary",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ],
      "id": "3e8b3fa3-c7a4-42ae-94b2-1fbd1b6bbfa3",
      "name": "plaintext"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "fileBinary",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        464
      ],
      "id": "88857c2d-b2fc-411b-bcf0-a1723231263a",
      "name": "pdf"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "fileBinary",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        624
      ],
      "id": "4f2bfdfe-f64b-4239-92c5-be10311c695f",
      "name": "json"
    },
    {
      "parameters": {
        "operation": "rtf",
        "binaryPropertyName": "fileBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        784
      ],
      "id": "fcf8a3cc-de36-407d-a430-b9f14557f81a",
      "name": "rtf"
    },
    {
      "parameters": {
        "binaryPropertyName": "fileBinary",
        "options": {
          "headerRow": true,
          "rawData": false,
          "readAsString": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        944
      ],
      "id": "74b0bba3-6062-41ea-adbd-1019cd191a07",
      "name": "csv"
    },
    {
      "parameters": {
        "operation": "xml",
        "binaryPropertyName": "fileBinary",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        1104
      ],
      "id": "67b960e3-7f8b-4c57-a8c0-f4e20c14ce11",
      "name": "markup"
    },
    {
      "parameters": {
        "operation": "ods",
        "binaryPropertyName": "fileBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        1264
      ],
      "id": "54671ad1-197a-49a7-a991-1c4f7d54e92e",
      "name": "ods"
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "fileBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        1424
      ],
      "id": "32708d05-6094-43a5-a873-b4789171d1c0",
      "name": "xls"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "fileBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        1584
      ],
      "id": "15b2991d-73c7-4711-9a77-d48be5f5761d",
      "name": "xlsx"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "action"
            },
            {
              "name": "chatInput"
            },
            {
              "name": "files",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2160,
        -336
      ],
      "id": "3c49d416-0e63-4d45-a636-e5e079bcbfcc",
      "name": "start"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "fileData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -48,
        48
      ],
      "id": "3d74f29c-715e-4684-a1e9-4b9e9a31fddf",
      "name": "aggregate"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -320
      ],
      "id": "12ad8d61-3c52-4368-8b40-6c745368b36c",
      "name": "merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1712,
        -144
      ],
      "id": "b5075587-e2fe-445c-894f-f557e3e1f89f",
      "name": "split open"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "fileBinary",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "={{ $json.mimeTYpe }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1520,
        -144
      ],
      "id": "3d669ab1-25d1-494b-aa41-4ac1556cb324",
      "name": "convert to file"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nif (Array.isArray(input[0].json.files)) {\n  // files[] exists, extract uploads and fileData arrays\n  const arrUploads = input[1].json.uploads;\n  const arrFileData = input[2].json.fileData;\n  \n  // merge based on fileName\n  const merged = arrFileData.map(fds => {\n    const match = arrUploads.find(ups => ups.fileName === fds.fileName);\n    const preOut = { ...fds, ...(match || {}) };\n    \n    // remove extraneous keys\n    delete preOut.kind;\n    delete preOut.name;\n    \n    return preOut;\n  });\n\n  // replace files[] with enhanced data\n  input[0].json.files = merged;\n}\nreturn input[0];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -224
      ],
      "id": "f8c27fbf-ad08-4fdf-bd2f-af931626409a",
      "name": "output"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "binaryPropertyName": "fileBinary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -304,
        144
      ],
      "id": "75b70369-d3b0-4186-85ac-c38c88b4a0a2",
      "name": "image",
      "credentials": {
        "openAiApi": {
          "id": "X3Nhu6EWyz9LN2fj",
          "name": "czm-openai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        64
      ],
      "id": "67d19e0f-dafc-4350-a3d3-562a072ae4a0",
      "name": "extract"
    },
    {
      "parameters": {
        "content": "pdf = fileData.text",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        464
      ],
      "id": "f9ce3b89-7333-436a-99d0-ef298805bed4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "rtf = fileData.???\n\n### failing",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        784
      ],
      "id": "8c43bd69-c13c-42d6-8fb4-5a6958009154",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "csv = fileData.???\n### failing\nsame way as rtf",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        944
      ],
      "id": "58176a1e-4e25-4d11-8163-90d5fa81611a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "ods = fileData.???\n### failing\nsame way as rtf",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        1264
      ],
      "id": "0d56b36f-7669-4022-9059-b87365762ac0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "xls = fileData.???\n### failing\nsame way as rtf",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        1424
      ],
      "id": "b84ea06c-a09b-4a53-b91d-b150d91b54c7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "xlsx = fileData.???\n### failing\nsame way as rtf",
        "height": 96,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        1584
      ],
      "id": "fd6569d6-a3d9-4e7b-95f4-a5f9e8d1f222",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# to do\n+ handle data in nodes other than content\n",
        "height": 96,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -336
      ],
      "id": "7cd7b830-621d-4e5f-830f-d6776ccfaae1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "// Get the uploads and files data\nconst uploads = $input.all().map(el => {\n  const fileUrl = `https://drive.google.com/file/d/${el.json.id}/view`;\n  return { ...el.json, fileUrl };\n});\n\nconst files = $('start').item.json.files;\n\n// Create a map for quick lookup of files by name\nconst filesMap = new Map();\nfiles.forEach(file => {\n  filesMap.set(file.fileName, file);\n});\n\n// Merge the data\nconst objUploads = {\n  \"uploads\": uploads.map(upload => {\n    const fileName = upload.name;\n    const matchingFile = files.find(file => fileName.endsWith(file.fileName));\n    \n    if (matchingFile) {\n      return {\n        ...upload,\n        ...matchingFile,\n        fileUrl: upload.fileUrl\n      };\n    }\n    // Otherwise, return the original upload object\n    return upload;\n  })\n};\n\n// Return the merged data\nreturn [{ json: objUploads }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -144
      ],
      "id": "f6d77db0-4657-4af5-80f9-847b535c7582",
      "name": "format"
    },
    {
      "parameters": {
        "jsCode": "const folio = $('start').item.json.files[$runIndex];\nconst este = $input.item.json;\nlet jsonOut = Object.assign({}, este, folio);\nreturn jsonOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        64
      ],
      "id": "83302987-311c-4f32-870e-2f610c5bc2da",
      "name": "filedata"
    },
    {
      "parameters": {
        "inputDataFieldName": "fileBinary",
        "name": "={{ $('start').item.json.sessionId }}-{{ $('split open').item.json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fer_5cMknvjYmTxuxavY3WqmvAm671tA",
          "mode": "list",
          "cachedResultName": "chatUploads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fer_5cMknvjYmTxuxavY3WqmvAm671tA"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        -144
      ],
      "id": "eb12768d-4abc-47ff-bf34-4ed96fb01934",
      "name": "uploads",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hpyRggGv1xon9oys",
          "name": "drive.t@czm"
        }
      }
    },
    {
      "parameters": {
        "content": "resizer",
        "height": 192,
        "width": 160,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        320
      ],
      "id": "f85c4a01-285e-4663-9927-0a08e82b34cf",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "sessionId": "80701dfd315441ac8da4f77756a3e47e",
          "action": "sendMessage",
          "chatInput": "sfdg",
          "files": [
            {
              "fileName": "file-sample_100kB.rtf",
              "fileSize": "100605 bytes",
              "fileExtension": "rtf",
              "fileType": "text",
              "mimeType": "text/rtf"
            }
          ]
        }
      }
    ]
  },
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-23T04:43:43.572Z",
      "updatedAt": "2025-08-23T04:43:43.572Z",
      "role": "workflow:owner",
      "workflowId": "l2YrXRwVcHkSbtut",
      "projectId": "7oc82U5FbxHgMZLy"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-21T23:30:26.930Z",
      "updatedAt": "2025-08-21T23:30:26.930Z",
      "id": "TC6GN8ukWr58QCW8",
      "name": "dev"
    },
    {
      "createdAt": "2025-08-21T23:38:12.196Z",
      "updatedAt": "2025-08-21T23:38:12.196Z",
      "id": "UZgBu3fbi0GQ3tgi",
      "name": "working"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T00:26:00.000Z",
  "versionId": "3aaf1180-c640-44be-989a-6becc970c7e8"
}