n8/2025/02/r1t7GrdAgg08WrgB.json
{
  "active": true,
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "return Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Clean Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Keywords": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Keywords": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Keyword": {
      "main": [
        [
          {
            "node": "Autogenerate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autogenerate Keywords": {
      "main": [
        [
          {
            "node": "Format Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-21T04:02:20.566Z",
  "id": "r1t7GrdAgg08WrgB",
  "isArchived": false,
  "meta": {
    "templateId": "2155"
  },
  "name": "Get Autosuggest Keywords",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "id": "551a3a1f-07ad-48aa-bc9a-18f39c883929",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        980,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Keywords"
            }
          ]
        },
        "options": {}
      },
      "id": "f451dc0d-a78d-4ba6-adcf-c1180502a904",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1300,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "* Generating keywords for your SEO",
        "height": 224.79012345679018,
        "width": 1323.884773662551,
        "color": 4
      },
      "id": "ccad69b0-7f88-490e-bfbd-50ef702f48ce",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "76a63718-b3cb-4141-bc55-efa614d13f1d",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "9ed26e36-e05a-416e-a517-3f5d07718256",
      "name": "Receive Keyword",
      "type": "n8n-nodes-base.webhook",
      "position": [
        440,
        300
      ],
      "webhookId": "76a63718-b3cb-4141-bc55-efa614d13f1d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.query.q }}",
        "options": {}
      },
      "id": "51aa0811-7f31-4476-9460-4eacad81e469",
      "name": "Autogenerate Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        300
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f3bd360c-bf72-4e5f-92ec-ca08c8e4daed",
      "name": "Format Keywords",
      "type": "n8n-nodes-base.xml",
      "position": [
        800,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb95058f-0c20-4249-8a45-7b935fde1874",
              "name": "Keywords",
              "type": "array",
              "value": "={{ $json.suggestion.data }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "17bef508-47e1-482b-8dc1-aeb1f6faca63",
      "name": "Clean Keywords",
      "type": "n8n-nodes-base.set",
      "position": [
        1140,
        300
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "81e3ced0-d3b7-4019-a6a7-5e940ad33df1",
      "name": "return Keywords",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1480,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "* If you are using this one, just copy the this webhook url http://localhost:5678/webhook/76a63718-b3cb-4141-bc55-efa614d13f1d?q=keyword%20research\n* All you need is to change the keyword to e your desired keyword and you will be good to go\n\n* You can use the keyword with a space and the results will be the same",
        "width": 767.7695473251028
      },
      "id": "fafc57a6-64e1-4463-bbf0-c9dccd880345",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        500
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "backup",
  "repo_owner": "tonyfelice",
  "repo_path": "n8/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-02-21T04:02:20.573Z",
      "updatedAt": "2025-02-21T04:02:20.573Z",
      "role": "workflow:owner",
      "workflowId": "r1t7GrdAgg08WrgB",
      "projectId": "7oc82U5FbxHgMZLy"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-19T16:43:15.681Z",
      "updatedAt": "2025-03-19T16:43:15.681Z",
      "id": "SBW9cvvLopJuh2K7",
      "name": "SEO"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-08T17:25:55.000Z",
  "versionId": "454e4e09-1c6f-4293-b082-db738cf69db5"
}